@using DomainLayer;
@model IEnumerable<DomainLayer.Batch>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var auth = User.Identity.IsAuthenticated;
    var member = User.IsInRole("Member");
    var officer = User.IsInRole("BoxOfficer");
    var manager = User.IsInRole("Manager");

}

<h1>Compra de entradas</h1>

<div class="container">

    @if (TempData["message"] != null)
    {
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            @TempData["message"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    <div class="row">
        <div class="col-sm-6">
            <h3>Lista de funciones</h3>
        </div>
    </div>
    <div class="row">
        @if (Model.Count() > 0)
        {
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.CinemaId)</th>
                        <th>@Html.DisplayNameFor(m => m.ScheduleStartTime)</th>
                        <th>@Html.DisplayNameFor(m => m.ScheduleEndTime)</th>
                        <th>@Html.DisplayNameFor(m => m.TicketPrice)</th>
                        <th>@Html.DisplayNameFor(m => m.TicketPoints)</th>
                        @if (!officer && !manager)
                        {
                            <th>Opciones</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.CinemaId</td>
                            <td>@item.ScheduleStartTime</td>
                            <td>@item.ScheduleEndTime</td>
                            <td>@item.TicketPrice</td>
                            <td>@item.TicketPoints</td>
                            <td>

                                @if (officer)
                                {
                                    @Html.ActionLink("Comprar", "SeatCount", new { start = item.ScheduleStartTime, end = item.ScheduleEndTime, cinema = item.CinemaId, buyForm = 0 })
                                }
                                @Html.ActionLink("Comprar", "SeatCount", new { start = item.ScheduleStartTime, end = item.ScheduleEndTime, cinema = item.CinemaId, buyForm = 1 })
                                    @if (DateTime.Now.AddHours(2) <= item.ScheduleStartTime)
                                    {
                                        @Html.ActionLink("Cancelar", "CancelBuy")
                                    }
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p class="font-italic">No existen funciones registradas</p>
        }
    </div>

</div>