@model DomainLayer.Batch
@{
    ViewData["Title"] = "Eliminar función";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Funciones</h1>

<div class="container">

    <div class="row">
        <div class="col-sm-6">
            <h3>Eliminar función</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10">
            <form method="post" asp-action="DeleteBatch">

                <input type="hidden" asp-for="ScheduleStartTime" />
                <input type="hidden" asp-for="ScheduleEndTime" />
                <input type="hidden" asp-for="CinemaId" />

                <div class="d-flex mb-1">
                    <p class="font-weight-bold mr-5">Fecha de Inicio:</p>
                    <p>@Model.ScheduleStartTime</p>
                </div>
                <div class="d-flex mb-1">
                    <p class="font-weight-bold mr-5">Fecha de Finalización:</p>
                    <p>@Model.ScheduleEndTime</p>
                </div>
                <div class="d-flex mb-1">
                    <p class="font-weight-bold mr-5">Sala:</p>
                    <p>@Model.CinemaId</p>
                </div>
                <div class="d-flex mb-1">
                    <p class="font-weight-bold mr-5">Película:</p>
                    @foreach (var movie in ViewBag.Movies)
                    {
                        @if (movie.Id == Model.MovieId)
                        {
                            <p>@movie.Title</p>
                        }
                    }
                </div>
                <div class="d-flex mb-1">
                    <p class="font-weight-bold mr-5">Precio de la entrada:</p>
                    <p>@Model.TicketPrice.ToString()</p>
                </div>

                <div class="d-flex mb-1">
                    <p class="font-weight-bold mr-5">Precio de la entrada en puntos:</p>
                    <p>@Model.TicketPoints.ToString()</p>
                </div>

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <input type="submit" value="Eliminar función" class="btn btn-primary" />
                </div>

            </form>
        </div>
    </div>
</div>