@model DomainLayer.Batch
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Funciones</h1>

<div class="container">

    <div class="row">
        <div class="col-sm-6">
            <h3>Editar función</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10">
            <form method="post" asp-action="Edit">

                <input type="hidden" asp-for="ScheduleStartTime" />
                <input type="hidden" asp-for="ScheduleEndTime" />
                <input type="hidden" asp-for="CinemaId" />

                <div class="panel panel-default">
                    <div class="panel heading">Películas</div>
                    <div class="panel-body">
                        <select name="movieId" data-field="país(es)" class="list-group form-control">
                            @foreach (var movie in ViewBag.Movies)
                            {
                                @if (movie.Id == Model.MovieId)
                                {
                                    <option selected value="@movie.Id">@movie.Title</option>

                                }
                                else
                                {
                                    <option value="@movie.Id">@movie.Title</option>
                                }
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="TicketPrice" class="control-label"></label>
                    <input asp-for="TicketPrice" class="form-control" />
                    <span asp-validation-form="TicketPrice" class="text-danger">@Html.ValidationMessage("TicketPrice")</span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Editar función" class="btn btn-primary" />
                </div>

            </form>
        </div>
    </div>
</div>