@model IEnumerable<DomainLayer.Batch>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Funciones</h1>

<div class="container">

    @if (TempData["message"] != null)
    {
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            @TempData["message"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    <div class="row">
        <div class="col-sm-6">
            <h3>Lista de funciones</h3>
        </div>
        <div class="col-sm-6">
            <a class="btn btn-primary d-block rounded-pill" asp-action="Create" asp-controller="Batches"><i class="fa fa-plus"></i> Agregar función</a>
        </div>
    </div>
    <div class="row">
        @if (Model.Count() > 0)
        {
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.CinemaId)</th>
                        <th>@Html.DisplayNameFor(m => m.ScheduleStartTime)</th>
                        <th>@Html.DisplayNameFor(m => m.ScheduleEndTime)</th>
                        <th>Película</th>
                        <th>@Html.DisplayNameFor(m=>m.TicketPrice)</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.CinemaId</td>
                            <td>@item.ScheduleStartTime</td>
                            <td>@item.ScheduleEndTime</td>
                            <td>@item.Movie.Title</td>
                            <td>@item.TicketPrice</td>


                            <td>
                                @Html.ActionLink("Editar", "Edit", new { start = item.ScheduleStartTime, end = item.ScheduleEndTime, cinema = item.CinemaId })
                                @Html.ActionLink("Eliminar", "Delete", new { start = item.ScheduleStartTime, end = item.ScheduleEndTime, cinema = item.CinemaId })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p class="font-italic">No existen funciones registradas</p>
        }
    </div>

</div>