@model (System.Data.DataTable, IEnumerable<DomainLayer.Movie>)
@using System.Data
@using DomainLayer
@{
    ViewData["Title"] = "Principal";
    Layout = "_Layout";
}

<div class="container">
    @if (TempData["message"] != null)
    {
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            @TempData["message"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    <div class="row">
        <div class="col-sm-6">
            <h3>Películas sugeridas</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            @if (Model.Item1.Rows.Count > 0)
            {
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            @foreach (DataColumn item in Model.Item1.Columns)
                            {
                                <th>@item.ColumnName</th>
                            }
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (DataRow item in Model.Item1.Rows)
                        {
                            <tr>
                                @foreach (DataColumn column in Model.Item1.Columns)
                                {
                                    @if (column.ColumnName == "Películas")
                                    {
                                        <td>@(((Movie)item[Model.Item1.Columns.IndexOf(column.ColumnName)]).Title)</td>
                                    }
                                    else
                                    {
                                        <td>@item[Model.Item1.Columns.IndexOf(column.ColumnName)]</td>
                                    }
                                }
                                <td>
                                    <a asp-controller="TicketPurchases" asp-action="Index" asp-route-id="@(((Movie)item[0]).Id)" class="btn btn-primary option rounded">Ver tandas</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p class="font-italic">No existen películas sugeridas</p>
            }
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h3>Lista de películas</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            @if (Model.Item2.Count() > 0)
            {
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Título</th>
                            <th>Géneros</th>
                            <th>Películas</th>
                            <th>Actores</th>
                            <th>Calificaciones</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Item2)
                        {
                            <tr>
                                <td>@item.Title</td>
                                <td>
                                    @if (item.Genres != null && item.Genres.Count() > 0)
                                    {
                                        @String.Join(" , ", item.Genres.Select(g => g.Name))
                                    }
                                    else
                                    {
                                        <p class="text-black-50"> - </p>
                                    }
                                </td>
                                <td>
                                    @if (item.Countries != null && item.Countries.Count() > 0)
                                    {
                                        @String.Join(" , ", item.Countries.Select(c => c.Name))
                                    }
                                    else
                                    {
                                        <p class="text-black-50"> - </p>
                                    }
                                </td>
                                <td>
                                    @if (item.Actors != null && item.Actors.Count() > 0)
                                    {
                                        @String.Join(" , ", item.Actors.Select(a => a.Name))
                                    }
                                    else
                                    {
                                        <p class="text-black-50"> - </p>
                                    }
                                <td>
                                    @if (item.RatingId != 0)
                                    {
                                        @item.Rating.Name
                                    }
                                    else
                                    {
                                        <p class="text-black-50"> - </p>
                                    }
                                </td>
                                <td>
                                    <a asp-controller="TicketPurchases" asp-action="Index" asp-route-id="@item.Id" class="btn btn-primary option rounded">Ver tandas</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p class="font-italic">No existen películas registradas</p>
            }
        </div>
    </div>
</div>
