@model DomainLayer.Movie
@{
    ViewData["Title"] = "Agregar Película";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Películas</h1>

<div class="container">
    <div class="row justify-content-center text-center">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class=" wrap p-5">
                <div class="row">
                    <div class="col-12 text-center">
                        <h3>Añadir Película</h3>
                    </div>
                </div>
                <form method="post" asp-action="Create">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control roundede-pill" required />
                        <span asp-validation-form="Name" class="text-danger">@Html.ValidationMessage("Title")</span>
                    </div>

                    <div class="form-group mb-3">
                        <label class="control-label">Países</label>
                        <select multiple="multiple" data-name="countries" data-field="país(es)" class="list-group form-control ms">

                            @foreach (var country in ViewBag.Countries)
                            {
                                <option value="@country.Id">@country.Name</option>
                            }
                        </select>
                    </div>


                    <div class="form-group mb-3">
                        <label class="control-label">Géneros</label>
                        <select multiple="multiple" data-name="genres" data-field="género(s)" class="list-group form-control ms">
                            @foreach (var genre in ViewBag.Genres)
                            {
                                <option value="@genre.Id">@genre.Name</option>
                            }
                        </select>
                    </div>

                    <div class="form-group mb-3">
                        <label class="control-label">Actores</label>
                        <select multiple="multiple" data-name="actors" data-field="actor(es)" class="list-group form-control ms">
                            @foreach (var actor in ViewBag.Actors)
                            {
                                <option value="@actor.Id">@actor.Name</option>
                            }
                        </select>
                    </div>

                    <div class="form-group mb-3">
                        <label class="control-label">Clasificaciones</label>
                        <ul class="list-group">
                            @foreach (var rating in ViewBag.Ratings)
                            {
                                <li class="list-group-item">
                                    <label><input type="radio" name="movieId" value="@rating.Id" />@rating.Name</label>
                                </li>
                            }
                        </ul>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary rounded-pill">
                            <i class="fa fa-plus"></i> Añadir
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>