@model DomainLayer.Movie
@{
    ViewData["Title"] = "Eliminar Película";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Películas</h1>

<div class="container">

    <div class="row">
        <div class="col-sm-6">
            <h3>Eliminar Película</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10">
            <form method="post" asp-action="DeleteMovie">

                <input type="hidden" asp-for="Id" />

                <div class="d-flex mb-1">
                    <p class="font-weight-bold mr-5">Título:</p>
                    <p>@Model.Title</p>
                </div>
                <div class="d-flex mb-1">
                    <p class="font-weight-bold mr-5">Clasificación:</p>
                    <p>@Model.Rating.Name</p>
                </div>

                <div class="d-flex mb-1">
                    <p class="font-weight-bold mr-5">Países:</p>

                    @if (Model.Countries != null || Model.Countries.Count > 0)
                    {
                        <p>@String.Join(" , ", Model.Countries.Select(c => c.Name))</p>

                    }
                    else
                    {
                        <p>-</p>
                    }
                </div>

                <div class="d-flex mb-1">
                    <p class="font-weight-bold mr-5">Géneros:</p>
                    @if (Model.Genres != null || Model.Genres.Count > 0)
                    {
                        <p>@String.Join(" , ", Model.Genres.Select(c => c.Name))</p>

                    }
                    else
                    {
                        <p>-</p>
                    }
                </div>

                <div class="d-flex mb-1">
                    <p class="font-weight-bold mr-5">Actores:</p>
                    @if (Model.Actors != null || Model.Actors.Count > 0)
                    {
                        <p>@String.Join(" , ", Model.Actors.Select(c => c.Name))</p>
                    }
                    else
                    {
                        <p>-</p>
                    }
                </div>

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                <div class="form-group">
                    <input type="submit" value="Eliminar película" class="btn btn-primary" />
                </div>

            </form>
        </div>
    </div>



</div>


