@model IEnumerable<DomainLayer.Movie>

@{
    ViewData["Title"] = "Lista de películas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Películas</h1>

<div class="container">
    @if (TempData["message"] != null)
    {
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            @TempData["message"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    <div class="row">
        <div class="col-sm-6">
            <h3>Lista de películas</h3>
        </div>
        <div class="col-sm-6">
            <a class="btn btn-primary rounded-pill d-block" asp-action="Create" asp-controller="Movies">
                <i class="fa fa-plus"></i> Agregar película
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            @if (Model.Count() > 0)
            {
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(m => m.Title)</th>
                            <th>@Html.DisplayNameFor(m => m.Genres)</th>
                            <th>@Html.DisplayNameFor(m => m.Countries)</th>
                            <th>@Html.DisplayNameFor(m => m.Actors)</th>
                            <th>@Html.DisplayNameFor(m => m.Rating)</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Title</td>
                                <td>
                                    @if (item.Genres != null && item.Genres.Count() > 0)
                                    {
                                        @String.Join(" , ", item.Genres.Select(g => g.Name))
                                    }
                                    else
                                    {
                                        <p class="text-black-50"> - </p>
                                    }
                                </td>
                                <td>
                                    @if (item.Countries != null && item.Countries.Count() > 0)
                                    {
                                        @String.Join(" , ", item.Countries.Select(c => c.Name))
                                    }
                                    else
                                    {
                                        <p class="text-black-50"> - </p>
                                    }
                                </td>
                                <td>
                                    @if (item.Actors != null && item.Actors.Count() > 0)
                                    {
                                        @String.Join(" , ", item.Actors.Select(a => a.Name))
                                    }
                                    else
                                    {
                                        <p class="text-black-50"> - </p>
                                    }
                                </td>
                                <td>
                                    @if (item.RatingId != 0)
                                    {
                                        @item.Rating.Name
                                    }
                                    else
                                    {
                                        <p class="text-black-50"> - </p>
                                    }
                                </td>
                                <td>
                                    <a asp-controller="Movies" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary option rounded"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p class="font-italic">No existen películas registradas</p>
            }
        </div>
    </div>
</div>